input[type='number'] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  display: none !important;
}

input[type='number']:focus {
  outline: none !important;
  box-shadow: none !important;
}
