@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');


:root {
  font-family: 'Cormorant SC', italic;
  line-height: 1.5;
  font-weight: 400;
  color: #fef3c7;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: #171717
}


