@import "tailwindcss";


:root {
  font-family: "Cormorant SC", italic;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #333333 50%);;
}


